@import '../../../assets/variables';

:host {

  .logo {
    font-family: $comics-font;
    font-size: 36px;
  }

  nav {
    a {
      font-size: 18px;
    }
  }

  .mat-toolbar {
    background: $main-color;

    .mat-toolbar-row {
      display: flex;
      justify-content: space-between;
    }
  }

}
