<app-details [data]="{title: comics.title, thumbnail: comics.thumbnail}" (viewClosed)="closeView()">
  <div class="description-wrapper col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <h3>
      <md-icon>info_outline</md-icon>
      Comics Description
    </h3>
    <p>{{comics.description}}</p>
    <md-list>
      <md-list-item>
        <md-icon md-list-icon>
          pan_tool
        </md-icon>
        <h4 md-line>Format</h4>
        <p md-line>{{comics.format}}</p>
      </md-list-item>
      <md-list-item>
        <md-icon md-list-icon>
          library_books
        </md-icon>
        <h4 md-line>Pages</h4>
        <p md-line>{{comics.pageCount}}</p>
      </md-list-item>
    </md-list>
    <div class="character-list">
      <h3 class="col-xs-12">
        <md-icon md-list-icon>
          face
        </md-icon>
        Characters
      </h3>
      <p md-line *ngIf="!isObject(comics.characters)">{{comics.characters}}</p>
      <md-list *ngIf="isObject(comics.characters)">
        <md-list-item *ngFor="let character of comics.characters">
          <a (click)="characterView(character)">{{character.name}}</a>
        </md-list-item>
      </md-list>
    </div>
  </div>
  <div class="image-gallery-wrapper col-lg-6 col-md-6 col-sm-12 col-xs-12 row" *ngIf="isObject(comics.images)">
    <h3 class="col-xs-12">Image Gallery</h3>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" *ngFor="let image of comics.images">
      <img [src]="image" (click)="zoomImage(image)"/>
    </div>
  </div>
</app-details>

