@import '../../../assets/variables';

:host {
  .description-wrapper {
    .mat-list-item {
      color: $text-color;
      .mat-line {
        white-space: normal;
      }
    }

    .character-list li {
      cursor: pointer;

      a {
        color: $main-color;
      }
    }
  }

  .image-gallery-wrapper {
    img {
      width: 100%;
      cursor: pointer;
    }
  }
}
