@import '../../../assets/variables';

:host {
  .description-wrapper {
    .mat-list-item {
      color: $text-color;
      .mat-line {
        white-space: normal;
      }
    }

    .character-list {

      p {
        padding: 0 1rem;
      }

      .mat-list-item {
        cursor: pointer;
      }
    }
  }

  .image-gallery-wrapper {
    img {
      padding-bottom: 1rem;
      width: 100%;
      cursor: pointer;
    }
  }
}
