<div *ngIf="loader.isLoading">
  <md-spinner></md-spinner>
</div>

<div *ngIf="!loader.isLoading" class="favorites-page-wrapper">
  <app-comics-details
    *ngIf="comicsDetails"
    [comics]="comicsDetails"
    (viewClosed)="comicsDetailsClosed()"
    (characterPicked)="characterDetailsView($event)"
    (favToggled)="comicsFavToggle($event)"
  ></app-comics-details>

  <app-character-details
    *ngIf="characterDetails"
    [character]="characterDetails"
    (viewClosed)="characterDetailsClosed()"
    (comicsPicked)="comicsDetailsView($event)"
    (favToggled)="characterFavToggle($event)"
  ></app-character-details>

  <div class="content col-xs-12 center">
    <div class="col-lg-8 col-md-10 col-sm-10 col-xs-12 col-lg-offset-2 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
      <div class="row favorites-list-wrapper row">
        <div class="characters col-md-4 col-xs-12">
          <md-icon>face</md-icon>
          <md-list>
            <md-list-item *ngFor="let character of charactersList">
              <a (click)="characterDetailsView(character.id)">{{character.name}}</a>
            </md-list-item>
          </md-list>
        </div>
        <div class="comics col-md-4 col-xs-12">
          <md-icon>import_contacts</md-icon>
          <md-list>
            <md-list-item *ngFor="let comics of comicsList">
              <a (click)="comicsDetailsView(comics.id)">{{comics.name}}</a>
            </md-list-item>
          </md-list>
        </div>
      </div>
    </div>
  </div>
</div>
