@import "../../../assets/variables";

:host {
  .comics-fav-indicator {
    .mat-icon {
      height: 100%;
      color: $main-color;
    }
  }
}

:host(.details-favorite) {
  .comics-fav-indicator {
    height: 100%;
    display: flex;

    @include respond-to(normal) {
      min-width: 60px;
    }
    .mat-icon {
      @include respond-to(normal) {
        width: 30px;
        height: 30px;
        font-size: 30px;
      }
    }
  }
}
