:host {
  .main-page-wrapper {
    height: 100%;
    overflow-y: hidden;

    .comics-list-wrapper {
      height: 100%;

      .filters form {
        display: flex;
        flex-direction: column;

        .mat-select {
          margin-top: 1rem;

          &:last-child {
            margin-bottom: 1rem;
          }
        }
      }

      .comics {
        height: 100%;
      }
    }
  }


}
