:host {
  .main-page-wrapper {
    height: 100%;
    overflow-y: hidden;
    width: 100%;

    .content {
      display: flex;
      height: 100%;
      justify-content: center;
    }

    .comics-list-wrapper {
      height: 100%;

      .filters form {
        display: flex;
        flex-direction: column;

        .mat-select {
          margin-top: 1rem;
        }

        button {
          margin-top: 1rem;
          margin-bottom: 1rem;
        }
      }
      .comics {
        height: 100%;
      }
    }
  }
}
