:host {
  .main-page-wrapper {
    height: 100%;
    overflow-y: hidden;

    .comics-list-wrapper {
      height: 100%;

      .filters form{
        padding-top: 1rem;
        display: flex;
        flex-direction: column;

        /*
          Fix weird solution . . .
         */
        /deep/ .mat-form-field {
          width: 100%;
        }
      }

      .comics {
        height: 100%;
      }
    }
  }


}
