@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~flexboxgrid/css/flexboxgrid.css";
@import url(//fonts.googleapis.com/icon?family=Material+Icons);
@import './assets/variables';

@font-face {
  font-family: Saucer BB Font;
  src: url('./assets/saucer-bb.regular.ttf');
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;

  .character-list, .participated-comics, .favorites-list-wrapper {
    .mat-list-item {
      cursor: pointer;
    }
    .mat-list-item-content {
      height: 20px !important;
      padding: 0 1rem !important;

      a {
        color: $main-color;
      }
    }
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mat-progress-spinner path {
  stroke: $main-color;
}
