.mat-card {
  width: 420px;
  overflow: hidden;

    img {
      height: auto;
      cursor: pointer;
    }

  .mat-card-actions {
  }

  .comics-fav-indicator {
    .mat-icon {
      color: #F44336;
    }
  }
}
